@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* 
:root {
  --dark-one: #000000;
  --dark-two: #7a7a7a;
  --dark-three: #0f0c16;
  --main-color: #34D399;
  --secondary-color: #ffd487;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
  --main-color-2: #bdd28e;
  --light-blue: #42bfe4;
} */

.rbc-calendar{
  min-height : 38em;
  width : 68em;
}
span{
  font-family: 'poppins';
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #faca15;
    color: #000000;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.img {
    background-image: url('./assets/greenplants.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 50vw;
    border-radius: 1rem;
    margin-left: 20rem;
    
}

.login{
    padding-right: 40rem;

}