
:root {
  --dark-one: #000000;
  --dark-two: #7a7a7a;
  --dark-three: #0f0c16;
  --main-color: #34D399;
  --secondary-color: #ffd487;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
  --main-color-2: #bdd28e;
  --light-blue: #42bfe4;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.rbc-calendar{
  min-height : 38em;
  width : 68em;
}
span{
  font-family: 'poppins';
}