/* styles.css (or import tailwind styles) */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Example CSS */
.successMessage {
  z-index: 1050; /* Ensure this is higher than the EditModal's z-index */
}

.editModal {
  z-index: 1040; /* Example z-index for EditModal */
}
